<div class="container">
    <form method="post">
<div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField">
Username<span class="asteriskField">*</span> </label> <div> <input type="text" name="username" value="qwe" maxlength="150" class="textinput textInput form-control" required="" id="id_username"> <small id="hint_id_username" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small> </div> </div> <div id="div_id_email" class="form-group"> <label for="id_email" class="">
Email address
</label> <div> <input type="email" name="email" value="qw@qw.qw" maxlength="254" class="emailinput form-control" id="id_email"> </div> </div>
        

<div id="div_id_address" class="form-group"> <label for="id_address" class=" requiredField">
Address<span class="asteriskField">*</span> </label> <div> <input type="text" name="address" value="sd" maxlength="50" class="textinput textInput form-control" required="" id="id_address"> </div> </div> <div id="div_id_lifestyle" class="form-group"> <label for="id_lifestyle" class=" requiredField">
Lifestyle<span class="asteriskField">*</span> </label> <div> <select name="lifestyle" class="select form-control" required="" id="id_lifestyle"> <option value="">---------</option> <option value="Sedentary" selected="">Sedentary</option> <option value="Active">Active</option> <option value="Sports">Sports</option>    

</select> </div> </div> <div id="div_id_gender" class="form-group"> <label for="id_gender" class=" requiredField">
Gender<span class="asteriskField">*</span> </label> <div> <select name="gender" class="select form-control" required="" id="id_gender"> <option value="">---------</option> <option value="Male" selected="">Male</option> <option value="Female">Female</option>

</select> </div> </div> <div id="div_id_weight" class="form-group"> <label for="id_weight" class=" requiredField">
Weight<span class="asteriskField">*</span> </label> <div> <input type="number" name="weight" value="-1.0" step="any" class="numberinput form-control" required="" id="id_weight"> </div> </div> <div id="div_id_task" class="form-group"> <label for="id_task" class=" requiredField">
Task<span class="asteriskField">*</span> </label> <div> <select name="task" class="select form-control" required="" id="id_task"> <option value="">---------</option> <option value="get slim" selected="">get slim</option> <option value="get save">get save</option> <option value="get save">get grow</option>

</select> </div> </div> <div id="div_id_goal" class="form-group"> <label for="id_goal" class=" requiredField">
Goal<span class="asteriskField">*</span> </label> <div> <input type="number" name="goal" value="1.0" step="any" class="numberinput form-control" required="" id="id_goal"> </div> </div>

        
        <hr>
        <input class="btn btn-succes bg-dark text-white" type="submit" value="Save">
    </form>
</div>